.dish{
    background-color: white;
    border: 1px solid lightgrey;
    height: 285px;
    width: 175px;
    margin: 10px;
    border-radius: 3px;
    text-align: center;
    padding: 0px 10px;
    vertical-align: top;
}


.dish img{
    height: 150px;
    max-width: 150px;
}

#dishes *{
    display: inline-block;
}

#dishes{
    text-align: left;
    padding: 20px;
    display: inline-block;
    width: 900px;
}

#name{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}

#description{
    margin-top: 10px;
    font-size: 12px;
    color: dimgray;
    text-align:center;
}

#price{
    text-transform: uppercase;
    color: red;
    font-weight: bold;
}

#buy{
    text-decoration: none;
    display: inline-block;
    background-color: red;
    border-radius: 8px;
    padding: 5px;
    color: white;
    font-size: 12px;
    margin-left: 20px;
}



