<div id="loader" *ngIf="loading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div id="content" *ngIf="!loading">

  <ul>
    <li>
      <table>
        <th>Номер заказа</th>
        <th>Номер телефона заказчика</th>
        <th>Сумма заказа</th>
        <th>Время заказа</th>
        <th>Адрес доставки</th>
        <th>Статус</th>
        <tr *ngFor="let order of orders">
          <td>{{order.id}}</td>
          <td>{{order.phoneNumber}}</td>
          <td>{{order.orderPrice}}</td>
          <td>{{order.dateTime}}</td>
          <td>{{order.deliveryAddress}}</td>
          <td>
            <mat-button-toggle>Выполнить</mat-button-toggle>
          </td>
        </tr>
      </table>

      <br>
      <hr>
    </li>
  </ul>

  <ul>
    <li *ngFor="let routeInfo of routesInfo">
      {{routeInfo.fullRoute}}</li>
  </ul>
  <hr>


  <p>Длина маршрута: {{totalDistance | number : '1.1-1'}} км</p>
</div>

<div id="map">

  <mat-form-field>
    <mat-select placeholder="Адрес отправки" [ngModel]="direction.origin" (ngModelChange)="direction.origin = $event; showDirection()">
      <mat-option *ngFor="let address of addresses" [value]=address>
        {{address}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div style="width: 100px"></div>

  <mat-form-field>
    <mat-select placeholder="Адрес доставки" [ngModel]="direction.destination" (ngModelChange)="direction.destination = $event; showDirection()">
      <mat-option *ngFor="let address of addresses" [value]=address>
        {{address}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ngui-map zoom="13">
    <directions-renderer [suppressMarkers]="false" [draggable]="false" panel="#my-panel" (directions_changed)="directionsChanged()"
      [directions-request]="direction">
    </directions-renderer>
  </ngui-map>
</div>
