mat-card {
    display: inline-block;
}

mat-form-field{
    width: 100%;
}

div {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}