<h1 mat-dialog-title>Оформление заказа</h1>
<mat-dialog-content>
  <form [formGroup]="orderingForm">
    <mat-form-field>
      <input matInput type="text" placeholder="Номер телефона" formControlName="phoneNumber" />
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="text" placeholder="Адрес доставки" formControlName="address" />
    </mat-form-field>
    <br>
    <button mat-raised-button type="submit" (click)="buy()" aria-hidden="true">Отправить</button>
    <br>
    <br>
  </form>
</mat-dialog-content>