<h1>
  Блюда
</h1>
<br>
<div>
  <mat-card id="listDishes">
    <mat-list>
      <mat-list-item *ngFor="let dish of sliceDishes(); last as last">
        <p mat-line>{{dish.name}}</p>
        <a mat-icon-button (click)="showEditDish=true; editInput.value = dish.name">
          <mat-icon>edit</mat-icon>
        </a>
        <a mat-icon-button>
          <mat-icon>delete</mat-icon>
        </a>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
    <mat-paginator [length]="dishes.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
    </mat-paginator>
  </mat-card>

  <div id="rightColumn">
    <form id="editDish" [formGroup]="editDishForm" [ngStyle]="{display: showEditDish?'inline-block':'none'}">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>edit</mat-icon>
          <mat-card-title>
            Редактирование
          </mat-card-title>
          <mat-card-subtitle>
            Блюдо
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input #editInput matInput placeholder="Название блюда" formControlName="name" required>
            <mat-error *ngIf="editDishForm.get('name').getError('pattern')">
              Название должно быть длиннее 3 букв, содержать только буквы русского алфавита и должно начинаться с большой буквы
            </mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-button [disabled]="editDishForm.invalid">
            Сохранить
          </button>
          <button mat-button (click)="showEditDish=false">
            Закрыть
          </button>
        </mat-card-actions>
      </mat-card>
    </form>

    <form id="addDish" [formGroup]="addDishForm">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>add</mat-icon>
          <mat-card-title>
            Добавление
          </mat-card-title>
          <mat-card-subtitle>
            Блюдо
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="Название блюда" formControlName="name" required>
            <mat-error *ngIf="addDishForm.get('name').getError('pattern')">
              Название должно быть длиннее 3 букв, содержать только буквы русского алфавита и начинаться с прописной буквы
            </mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-button [disabled]="addDishForm.invalid">
            Добавить
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
