#dish > *{
    display: inline-block;
    vertical-align: top;
}

hr{
    display: block!important;
    margin-top: 10px;
    color: green!important;
}

#dish{
    width: 500px;
    height: 100px;
    padding-top: 20px;
}


#insideDish{
    margin-left: 10px;
}

#name{
    font-weight: bold;
}

.mat-dialog-content{
    padding-left: 20px;
}

#buttons button{
    display: inline-block;
}

#buttons{
    position: relative;
}

#orderButton{
    position: absolute;
    right: 0px;
}

#totalPrice{
    position: absolute;
    right: 0px;
}

#header{
    position: relative;
}

#header *{
    display: inline-block;
}