<h1 mat-dialog-title>Корзина покупок</h1>
<mat-dialog-content>
  <div id="dishes">
    <div id="dish" *ngFor="let dish of cartProducts">
      <img [src]="dish.image | saveUrl" width="100" height="100" />
      <div id="insideDish">
        <p id="name">{{dish?.name}}</p>
        <p id="price">Цена за 1 шт: {{dish?.price}} грн</p>
        <p>Количество: {{dish?.quantity}}</p>
      </div>
      <hr>
    </div>
    <br>
    <label>Сумма заказа: {{totalPrice}}</label>

    <br>
    <button mat-button (click)="removeAll()">Очистить корзину</button>
    <br>
    <button mat-button (click)="ordering()">Оформить заказ</button>
  </div>
</mat-dialog-content>