<div id="upperMenu">
    <div id="phoneNumbers">
        <p>+380508475904</p>
    </div>
    <div id="approveDiv">
        <a routerLink="registration">Вход</a>
        <p >|</p>
        <a routerLink="registration">Регистрация</a>
    </div>
</div>
<div id="whiteDiv">
    <img id="logoImage" src="/assets/logo.png">
    <div id="location">
        <a href="#">Укажите Ваш город</a>
        <ul>
                <li *ngFor="let city of cities">
                        <p>{{city?.name}}</p>
                        </li>
        </ul>
    </div>

    <div id="findMenu">
        <input #Name placeholder="" value="1" />
        <tr *ngFor="let item of mylst | searchfilter: 'name' : Name.value">
        <td>
            {{item.name}}
        </td>
        </tr>
    </div>

</div>


<div>
    <router-outlet></router-outlet>
</div>



