#upperMenu{
    background-color: #2F2F2F;
    padding: 15px 20px 5px 20px;
}

#upperMenu *{
    display: inline-block;
}

a{
    text-decoration: none;
}

#approveDiv{
    float: right;
}

#approveDiv *{
    color: #EFEFEF;
}

#phoneNumbers *{
    color: #EFEFEF;
}

#whiteDiv {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 100px;
    width: 100%;
    display: inline-block;
}

#whiteDiv *{
    display: inline-block;
}

#findMenu{
    float: right;
    margin: 20px 20px 0px 0px;
}

#location{
    margin: 20px 0px 0px 70px;
    display: block;
}

#location *{
    display: block;
}

#location a{
    text-decoration: underline;
}

#location ul{
    list-style: none;
    display: none;
    margin: 0px;
    padding: 0px;
}

#location a:hover + ul{
    display: block;
}

#location ul:hover{
    display: block;
}

#logoImage{
    margin: 10px;
}

