#downMenu{
    display: inline-block;
    background-color: #313131;
    width: 100%;
    text-align: center;
}

#downMenu ul li:hover{
    background-color: red;
}

#downMenu ul li{
    display: inline-block;
    margin: auto;
}

#downMenu a{
    display: block;
    padding: 20px 10px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
}

#downMenu ul{
    list-style-type: none;
}