<header>
  <img src="../assets/logo.png">
  <div id="upperMenu">
    <ul>
      <li>
        <a href="#">Главная</a>
      </li>
      <li>
        <a href="restaurants">Рестораны</a>
      </li>
      <li>
        <a href="#">Акции</a>
      </li>
      <li>
        <a href="#">Доставка</a>
      </li>
      <li>
        <a href="#">Контакты</a>
      </li>
    </ul>
    <div id="location">
      <p>улица Сумская, 15, Харков</p>
    </div>
  </div>

  <div>
    <a (click)="openCart()" id="cart">
      <mat-icon>shopping_cart</mat-icon>
    </a>
  </div>

</header>
<img id="mainImg" src="../assets/Hamburger.jpg">
<div id="downMenu">
  <ul>
    <li *ngFor="let category of categories">
      <a href="#">{{category?.name}}</a>
    </li>
  </ul>
</div>
<div id="userContent">
  <router-outlet></router-outlet>
</div>
<footer>
  <div id="downLogo">
    <img src="../assets/logo.png">
    <br>
    <br> 
    <p>улица Сумская, 15, Харков</p>
  </div>
  <ul id="downNav">
    <li>
      <a href="#">Главная</a>
    </li>
    <li>
      <a href="#">Акции</a>
    </li>
    <li>
      <a href="#">Доставка</a>
    </li>
    <li>
      <a href="#">Контакты</a>
    </li>
  </ul>

  <div id="downCategoryes">
    <ul>
      <li>
        <a href="#">Роллы</a>
      </li>
      <li>
        <a href="#">Суши</a>
      </li>
      <li>
        <a href="#">Сеты</a>
      </li>
      <li>
        <a href="#">Лапша WOK</a>
      </li>
      <li>
        <a href="#">Супы</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="#">Горячее</a>
      </li>
      <li>
        <a href="#">Салаты</a>
      </li>
      <li>
        <a href="#">Пицца</a>
      </li>
      <li>
        <a href="#">Десерты</a>
      </li>
      <li>
        <a href="#">Бизнесс-ланчи</a>
      </li>
    </ul>
  </div>

  <div id="copyright">
    <span>
      Доставка японской кухни и итальянской пиццы
    </span>
    <div>

    </div>
    <span>
      2018-2019
      <br>&copy;DelieveryFood
      <br> Доставка еды круглосуточно
    </span>
  </div>

</footer>