#downMenu{
    display: inline-block;
    background-color: #313131;
    width: 100%;
    text-align: center;
}

#downMenu ul li:hover{
    background-color: red;
}

#downMenu ul li{
    display: inline-block;
    margin: auto;
}

#downMenu a{
    display: block;
    padding: 20px 10px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
}

#downMenu ul{
    list-style-type: none;
}

#userContent{
    text-align: center;
}

#upperMenu > *{
    vertical-align: middle;
    display: inline-block;
}

mat-icon{
    color: white;
    position: absolute;
    right: 15px;
    top:15px;
}

header{
    position: relative;
}

#cart{
    cursor: pointer;
}